.DS_Store

#env directory
env_ipcs/

**/.ipynb_checkpoints

**/__pycache__
**/*.pyc

#ipca repo
ipca/
PortOpt_factor/

#data
data/
logs/
tests/
results/

# logs
error_log.txt

#server jobs
IPCA.ipynb

# temporary test notebook
/temp.ipynb