.DS_Store

#env directory
env_ipcs/

**/.ipynb_checkpoints

**/__pycache__
PortOpt_factor/optimizer/__pycache__
# Ignore all .pyc files
**/*.pyc

#ipca repo
ipca/
PortOpt_factor/

#data
data/
logs/
tests/
results/

# logs
error_log.txt

#server jobs
IPCA.ipynb
