.DS_Store

#env directory
env_ipcs/

**/.ipynb_checkpoints

**/__pycache__
**/*.pyc

#ipca repo
ipca/
run_job_local.py

#data
data/
logs/
tests/
results/

# logs
error_log.txt

#server jobs
IPCA.ipynb
